<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="character-step" value="8"/>

    <!-- Palette settings -->
    <add key="palette-lightest-main" value="#FFFDF6E3"/>
    <add key="palette-lightest-additional" value="#FFEEE8D5"/>
    <add key="palette-lighter-middle-main" value="#FF93A1A1"/>
    <add key="palette-lighter-middle-additional" value="#FF839496"/>
    <add key="palette-darker-middle-main" value="#FF586E75"/>
    <add key="palette-darker-middle-additional" value="#FF657B83"/>
    <add key="palette-darkest-main" value="#FF002B36"/>
    <add key="palette-darkest-additional" value="#FF073642"/>

    <!-- KeyMapping settings -->
    <add key="key-mapping-left" value="A"/>
    <add key="key-mapping-right" value="D"/>

    <!-- Size settings -->
    <add key="surface-width" value="32"/>
    <add key="surface-height" value="32"/>
    <add key="character-width" value="128"/>
    <add key="character-height" value="128"/>
    <add key="tree-width" value="320"/>
    <add key="tree-height" value="320"/>
 
  </appSettings>
</configuration>